html { cursor: none; }

.cursor {
  position: fixed;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
.cursor div {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid palevioletred;
  -webkit-transition: opacity .35s ease, -webkit-transform .5s ease;
  transition: opacity .35s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, opacity .35s ease;
  transition: transform .5s ease, opacity .35s ease, -webkit-transform .5s ease;
}
.cursor.is-active div {
  -webkit-transform: scale(10);
          transform: scale(10);
  opacity: 1;
}

.cursor.is-active div::after {
  content: 'Un centro neurálgico en torno al cual se concentra un grupo de bros especialistas que trabajan en un determinado proyecto.';
  font-size: 2px;
  line-height: 3px;
  display: block;
  text-align: center;
  position: absolute;
  top: 33%;
  color: palevioletred;
}

.txt {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.link {
  position: absolute;
  top: 3rem;
  font-size: 0.85rem;
}
.link--1 {
  margin-left: calc(50vw - 54px);
  margin-top: 40vh;
}
.link--2 {
  display: none;
}