html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    cursor: none;
    overflow-x: hidden;
  }

  a {
    cursor: none;
    text-decoration: none;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #0ECDB4;
    width: 100%;
    height: auto;
    overflow: visible;
}

body.not-ready {
  overflow: hidden;
  height: 100vh;
}

#pong{
  border: none;
  position: absolute;
  margin :auto;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

#juego {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.logo {
  background-color: #fff;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: all .2s ease-out;
}

section.logo.fade-out {
  opacity: 0;
}

section.juego {
  background-color: #0ECDB4;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

#logo-anim {
    width: 100%;
    height: 100vh;
}

.bb-central {
    width: 150px;
    text-align: center;
    position:absolute;
    z-index: 1;
}

h1 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5vw;
  color: #ffffff;
  text-shadow: rgb(254 155 177) 3px 4px 0px;
  opacity: 0;
}

h1.animate {
  opacity: 1;
}

#bb-jugar,
#bb-jugar-mobile,
#bb-parar,
#bb-contacto {
    position: absolute;
    bottom: 50px;
    left: 50%;
    background: transparent;
    border: none;
    opacity: 0;
    transform: translateY(20px);
    transition: ease-in;
    border-bottom: dotted #181A18 3px;
}

#bb-jugar.animate,
#bb-jugar-mobile.animate,
#bb-contacto.animate,
#bb-parar.animate {
  opacity: 1;
  transform: translateY(0);
}

#bb-jugar a,
#bb-jugar-mobile a,
#bb-contacto a,
#bb-parar a {
    color: #181A18;
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.25em;
    display: block;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

#bb-jugar-mobile {
  display: none;
}

#bb-contacto {
  opacity: 1;
  left: 50%;
}

#bb-contacto:hover,
#bb-contacto a:hover {
  transform: none;
}

.boton-volver {
  background: rgba(255, 255, 255, 0.85);
  width: 750px;
  z-index: 999;
  height: 520px;
  border: none;
  border-radius: 0;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: #181A18;
  cursor: pointer;
}

section.bros {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 10em;
}


/* CURSOR */

.cursor {
  position: absolute;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
.cursor div {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px solid #181A18;
  -webkit-transition: opacity .35s ease, -webkit-transform .5s ease;
  transition: opacity .35s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, opacity .35s ease;
  transition: transform .5s ease, opacity .35s ease, -webkit-transform .5s ease;
}
.cursor.is-active div {
  border-width: .01em;
  -webkit-transform: scale(15);
          transform: scale(15);
  opacity: 1;
  background: white;
}

.cursor.is-active div::after {
  content: 'Un centro neurálgico en el que se concentra un grupo de bros especialistas que trabajan en un determinado proyecto.';
  font-size: 0.12em;
  line-height: 1.12em;
  padding: 0 2px;
  display: block;
  text-align: center;
  position: absolute;
  top: 33%;
  color:#FE9BB1;
  font-family: 'Montserrat', sans-serif;
}

.txt {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.link {
  position: absolute;
  top: 3rem;
  font-weight: 900;
  font-size: 1.1rem;
}
.link--1 {
  left: auto;
    right: 24%;
    top: 720px;
    color: #FE9BB1;
}
.link--2 {
  display: none;
}

.link--1:hover {
  opacity: 0;
}

.link--1.tevas {
  opacity: 0;
}


/* SNAKE GAME */

/* GAME BOARD STYLES */
#gameContainer {
  /*
	width and height of .gameBoardPixel should 1/40 of the width and height of #gameContainer,
	because it is used in calculation in the jscript.js file
	*/
  width: 40vw;
  height: 40vw;
  margin: 5vw auto;
  background-color: #000;
  border: none;
  border-radius: 0;
}

.gameBoardPixel {
  /* background-color: slategrey; */
  /*
	width and height of .gameBoardPixel should 1/40 of the width and height of #gameContainer,
	because it is used in calculation in the jscript.js file
	*/
  width: 1vw;
  height: 1vw;
  border-radius: 10px;
  float: left;
}
/* GAME BOARD STYLES END*/

/* SNAKE STYLES */
.snakeBodyPixel {
  background-color: #fe9bb1;
  box-shadow: 0 0 5px #fe9bb1;
}
/* SNAKE STYLES END*/

/* FOOD STYLES */
.food {
  background-color: #fff;
}
/* FOOD STYLES END*/

/* SCORE STYLES */
#scoreContainer {
  width: 40vw;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.scoreBoard {
  color: white;
  display: block;
  padding: 0;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
/* SCORE STYLES END */

/* Hide #onScreenControllers on desktop */
#onScreenControllers {
  display: none;
}

.developerDetails {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  color: #0c1021;
  font-family: monospace;
}

.developerDetails a {
  color: #0c1021;
}

@media only screen and (max-width: 768px) {
  /* MOBILE */
  #gameContainer {
    width: 80vw;
    height: 80vw;
  }

  .gameBoardPixel {
    width: 2vw;
    height: 2vw;
  }

  #scoreContainer {
    width: 80vw;
  }

  #onScreenControllers {
    width: 80vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #onScreenControllers > div {
    display: flex;
    flex-direction: column;
  }

  #onScreenControllers button {
    background-color: #fe9bb1;
    height: 14vw;
    width: 14vw;
    font-size: 10vw;
    border: none;
    margin: 20px;
  }

  #onScreenControllers button:focus {
    outline: none;
  }

  #onScreenControllers button:active {
    background-color: slategray;
  }
}



/* AEROPUERTO */

.departure-board {
    padding:  0.36em;
    display: inline-block;
	line-height: 1.3em;
  background: #181A18;
    -webkit-border-radius: 0.21em;
    -moz-border-radius: 0.21em;
    border-radius: 0.21em;
    color: #eee;
	font-family: Helvetica;
	transform: scale(2.5);
}

.departure-board span.letter {
	display: inline-block;
	width: 1em;
	margin: 0 .1em;
	height: 1.3em;
	text-align: center;
	position: relative;
}

.departure-board span.letter {
	-webkit-box-shadow: 
  inset 0 -0.07em 0 rgb(39, 39, 39), inset 0 -0.14em 0 rgb(36, 36, 36), inset 0.14em 0 0.28em #181A18, inset -0.14em 0 0.28em rgb(54, 54, 54), 0 0.07em 0 rgba(255, 255, 255, .2); 

	-moz-box-shadow: 
  inset 0 -0.07em 0 rgb(15, 29, 107), inset 0 -0.14em 0 rgb(66, 66, 66), inset 0.14em 0 0.28em #181A18, inset -0.14em 0 0.28em rgb(75, 75, 75), 0 0.07em 0 rgba(255, 255, 255, .2);

	-o-box-shadow: 
  inset 0 -0.07em 0 rgb(15, 29, 107), inset 0 -0.14em 0 rgb(73, 73, 73), inset 0.14em 0 0.28em #181A18, inset -0.14em 0 0.28em rgb(59, 59, 59), 0 0.07em 0 rgba(255, 255, 255, .2);

    box-shadow: inset 0 -0.07em 0 rgb(54, 54, 54), inset 0 -0.14em 0 rgb(63, 63, 63), inset 0.14em 0 0.28em #181A18, inset -0.14em 0 0.28em rgb(61, 61, 61), 0 0.07em 0 rgba(255, 255, 255, .2);
  }

.departure-board span.letter:before {
	border-top: .07em solid rgba(0, 0, 0, .4);
	border-bottom: .07em solid rgba(255, 255, 255, .08);
	height: 0;
	position: relative;
	width: 100%;
	left: 0;
	top: .62em;
	content: " ";
	display: block;
	z-index: 2;
	-moz-transform: translate(0, -.05em);
	-o-transform: translate(0, -.1em);
}

.departure-board span.fold {
	display: block;
	position: absolute;
	height: 0;
	top: .65em;
}

.departure-board span.flap {
	display: block;
	position: absolute;
	top: 0em;	
	width: 1em;
	height: .65em;
	margin: 0;
	overflow: hidden;
}

.departure-board span.text {
	width: 100%;
}
	
.departure-board span.bottom {
	top: .65em;
}

.departure-board span.bottom span.text {
	position: relative;
	top: -.65em;
}

.departure-board span.flap.falling {
	display: none;
	bottom: 0;	
	top: auto;
}


.departure-board span.flap.falling span.text {
	-webkit-backface-visibility: hidden;
	border-top: .03em solid #444;
	border-bottom: .03em solid #444;	
    background: #000;
	display: block;
	position: relative;
	
	-webkit-transform: scaleY(1); 
	-moz-transform: scaleY(1); 
	-o-transform: scaleY(1); 
	transform: scaleY(1); 
	
	-webkit-transition: -webkit-transform linear;
	-moz-transition: -moz-transform linear;
	-o-transition: -o-transform linear;
	transition: transform linear;
}

.aeropuerto {
  width: 100%;
  height: 29px;
  display: flex;
  justify-content: center;
  position: relative;
}

.noagencia {
  position: relative;
  min-height: 300px;
}

section.bros h2 {
  text-align: center;
  color: #0ecdb4;
  font-size: 5vw;
  letter-spacing: -0.02em;
  text-align: center;
  line-height: 0.8;
  font-weight: 400;
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

section.bros h4 {
  text-align: center;
  color: #181A18;
  font-size: 2em;
  letter-spacing: 0;
  margin: 2.6em 0px 2em;
}

.section-gif h3 {
  text-align: center;
  font-size: 5vw;
  color: #ffffff;
  text-shadow: rgb(254 155 177) 3px 4px 0px;
  margin: 1.5em 0 2em;
}


/* ABOUT */

.logo-2 {
  width: 170px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
}

.descripcion  {
  margin: 15em 0 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descripcion p {
  font-size: 5vw;
  letter-spacing: -0.02em;
  text-align: center;
  line-height: 1.15;
  margin: 0.33em 0px;
  color: rgb(14, 205, 180);
  font-weight: 700;
  text-shadow: rgb(254, 155, 177) 3px 4px 0px;
}

.despedida p {
  font-size: 6vw;
  letter-spacing: -0.02em;
  text-align: center;
  line-height: 1.15;
  margin: 0.33em 0px;
  color: white;
  font-weight: 700;
  text-shadow: rgb(254, 155, 177) 3px 4px 0px;
}

.word{
  overflow: hidden;
  line-height: 1.2;
  display: inline-block;
}

.char {
  display: inline-block;
}


/* WEBCAM */

.hidden {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 13rem);
  position: relative;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.webcam-brother > span {
  position: absolute;
  bottom: 36%;
  left: 50%;
  transform: translateX(-50%);
}

#start-webcam-btn,
#yaloeras {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#boton-parar {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #181a18;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform: scale(.85);
  transition: all .15s ease;
}

#boton-parar:hover {
  transform: scale(1);
}

.webcam-brother {
  width: 100%;
  min-height: 80vh;
  position: relative;
  background-color: #FE9BB1;
  z-index: 10;
}

#start-webcam-btn {
  -webkit-appearance: none;
  border: none;
  background: #181a18;
  color: #fe9bb1;
  padding: 20px 40px;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}

#yaloeras {
  font-size: 5em;
  font-weight: 900;
  color: #fe9bb1;
  text-align: center;
  font-family: sans-serif;
  line-height: 1;
  transition: all 1s ease;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

.fondo-video {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fe9bb1;
  position: absolute;
}

#contact-btn {
  bottom: 100px;
  position: absolute;
  left: 50%;
  padding: 15px 0;
  transform: translateX(-50%);
  z-index: 2;
    background: transparent;
    border: none;
    border-bottom: dotted #fe9bb1 3px;
    cursor: none;
}

#contact-btn a {
  font-size: 15px;
  font-weight: 900;
  color: #fe9bb1;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.25em;
}

#yaloeras.off {
  transform: translate(-50%, -50%)scale(.75);
  color: white;
}

.content.no-events {
  pointer-events: none;
}

@media screen and (min-width: 53em) {
  .message {
      display: none;
  }

  .content {
      height: 100vh;
      justify-content: center;
  }
}


/* BLOB */

.blob {
  position: absolute;
  width: 360px;
  height: 470px;
  top: 65px;
  left: 50%;
  margin: -250px;
  background: transparent;
  z-index: 1;
}
.blob span {
  background: #FE9BB1;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
}
.blob p {
  position: absolute;
  top: 50%;
  left: 50%;
}
.blob p:nth-child(1) {
  position: absolute;
  -webkit-animation: skewing-child .2s ease-in-out infinite alternate;
          animation: skewing-child .2s ease-in-out infinite alternate;
}
.blob p:nth-child(1) span {
  width: 263px;
  height: 250px;
  margin: -25px;
  -webkit-animation: moving 8s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
          animation: moving 8s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
}
.blob p:nth-child(2) {
  position: absolute;
  -webkit-animation: squishing 5s ease-in-out infinite alternate;
          animation: squishing 5s ease-in-out infinite alternate;
}
.blob p:nth-child(2) span {
  width: 263px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin: -60px;
  -webkit-animation: skewing 8s 1.5s ease-in-out infinite;
          animation: skewing 8s 1.5s ease-in-out infinite;
}


/* GIF */

.section-gif {
  position: relative;
  height: 88vh;
  width: 100%;
  background-color: transparent;
}

#gif-wrap {
  position: absolute;
  top: 20%;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #0ECDB4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

#gif-logo {
  display: none;
}

#new-gif {
  font-family: 'Montserrat', sans-serif;
  padding: 1em 3em;
  letter-spacing: 0.05em;
  font-size: 18px!important;
  font-weight: 900;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  color: #fff;
  border-radius: 50px;
  border: 0;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: background .15s ease;
  transition: background .15s ease;
  cursor: pointer;
}

#new-gif:hover {
  background: rgba(254, 155, 177, 1);
}

#new-gif:focus {
  outline: none;
}

@-webkit-keyframes skewing {
  0% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  10% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  20% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  30% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  40% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  50% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  55% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  60% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  65% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  70% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  75% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  80% {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
  }
  85% {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  90% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  95% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
}

@keyframes skewing {
  0% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  10% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  20% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  30% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  40% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  50% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  55% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  60% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  65% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  70% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  75% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  80% {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
  }
  85% {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  90% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  95% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
}
@-webkit-keyframes skewing-child {
  0% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  100% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
}
@keyframes skewing-child {
  0% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  100% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
}
@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  30% {
    -webkit-transform: translate(-45px);
            transform: translate(-45px);
  }
  70% {
    -webkit-transform: translate(45px);
            transform: translate(45px);
  }
  100% {
    -webkit-transform: translate(200px);
            transform: translate(200px);
  }
}
@keyframes moving {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  30% {
    -webkit-transform: translate(-45px);
            transform: translate(-45px);
  }
  70% {
    -webkit-transform: translate(45px);
            transform: translate(45px);
  }
  100% {
    -webkit-transform: translate(200px);
            transform: translate(200px);
  }
}
@-webkit-keyframes squishing {
  10%, 40%, 80% {
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
  }
  0%, 30%, 60%, 100% {
    -webkit-transform: scale(0.9, 1);
            transform: scale(0.9, 1);
  }
}
@keyframes squishing {
  10%, 40%, 80% {
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
  }
  0%, 30%, 60%, 100% {
    -webkit-transform: scale(0.9, 1);
            transform: scale(0.9, 1);
  }
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 255, 255, 0.24);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color:rgba(255, 255, 255, 0.24);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}



.despedida {
  margin: 10em 0 15em;
}

.juego #juego-mobile {
  display: none;
}


/* MOBILE */

@media (max-width: 1000px){

    body {
        overflow: hidden;
    }

    .cursor {
      display: none;
    }

    .juego #juego {
      display: none;
    }

    .juego #juego-mobile {
      display: block;
    }

    #bb-jugar {
      display: none;
    }

    #bb-jugar-mobile {
      display: block;
      border-bottom: none;
    }

    #bb-parar {
      border-bottom: none;
      width: 80%;
      margin-left: -167px!important;
    }

    h1 {
      bottom: 105px;
      left: 20%;
      transform: translateX(-4%);
      font-size: 9vw;
      text-shadow: rgb(254 155 177) 3px 4px 0px;
  }

    section.bros {
      padding-top: 7em;
      background: white;
    }

    .noagencia {
      display: flex;
      flex-direction: column;
    }

    section.bros h2 {
      font-size: 17vw;
      position: relative;
      left: auto;
      transform: none;
    }

    .blob {
      width: 300px;
      height: 470px;
      top: 0;
      left: 50%;
      margin: -220px;
    }

    .link--1 {
      display: none;
    }

    section.bros h4 {
      font-size: 2em;
      margin: 0 0 50px;
    }

    .departure-board {
      transform: scale(1.2);
    }

    .descripcion {
      margin: 4em 0 0;
      padding: 0 20px 4em;
      max-width: 100vw;
      width: auto;
    }

    .descripcion p {
      font-size: 12vw;
      text-shadow: rgb(254, 155, 177) 2px 2px 0px;
    }

    .webcam-brother {
      min-height: auto;
    }

    .webcam-brother > span {
      position: absolute;
      bottom: 27%;
      width: 80%;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
  }

    #start-webcam-btn {
      padding: 20px 40px;
      font-size: 1em;
      letter-spacing: .03em;
    }

    .webcam-brother canvas {
      width: 100%!important;
      height: calc(100vh - 13rem)!important;
    }

    #yaloeras {
      font-size: 3em;
      top: 35%;
      color: #ffced9;
    }

    #boton-parar {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: scale(.65);
    }

    .fondo-video {
      height: calc(100vh - 13rem);
    }

    #contact-btn a {
      font-size: 15px;
      color: #000;
    }

    #contact-btn {
      padding: 10px 0;
      border-bottom: dotted #000 3px;
    }

    #yaloeras.off {
      transform: translate(-50%, -35%)scale(.85);
      color: white;
    }

    .section-gif h3 {
      font-size: 9vw;
      padding: 0 20px;
      margin: 2em 0 2em;
    }

    #gif-wrap {
      top: 25%;
    }

    .section-gif {
      position: relative;
      height: 59vh;
    }

    #new-gif {
      position: relative;
      margin-top: 96px;
  }

    #bb-jugar, #bb-parar {
      bottom: 70px;
    }

    #bb-contacto {
      bottom: -90px;
    }

    .despedida {
      margin: 13em 0 8em;
    }

    .despedida p {
      font-size: 18vw;
      letter-spacing: -0.02em;
      line-height: 1;
    }

}
